<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 네트워크 관련 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 저장소 권한 (이미지 접근용) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32" />
    
    <!-- 알림 및 백그라운드 작업 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- 위젯 권한 -->
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />

    <application
        android:label="Habit Reminder"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:dataExtractionRules="@xml/data_extraction_rules">
        
        <activity
            android:name="com.example.habit_reminder.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- 딥 링크 처리 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="habit_reminder" android:host="app" />
            </intent-filter>
            
            <!-- 위젯 설정 딥 링크 처리 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="habit_reminder" 
                      android:host="widget_setup" />
            </intent-filter>
            
            <!-- 위젯 설정 딥 링크 처리 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="habit_reminder" 
                      android:host="widget_settings" />
            </intent-filter>
        </activity>
        
        <!-- 위젯 등록 -->
        <receiver
            android:name="com.example.habit_reminder.HabitReminderWidget"
            android:exported="true"
            android:enabled="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="WIDGET_CLICK_RESET" />
                <action android:name="WIDGET_LONG_CLICK_SETTINGS" />
                <action android:name="WIDGET_AUTO_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habit_reminder_widget_info" />
        </receiver>
        
        <!-- Flutter 에베딩 버전 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <!-- Firebase 설정 (필요시 추가) -->
        <!-- <meta-data -->
        <!--     android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!--     android:resource="@drawable/ic_stat_ic_notification" /> -->
        
        <!-- 알림 채널 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="habit_reminder_channel" />
    </application>
    
    <!-- 패키지 가시성 설정 -->
    <queries>
        <!-- 텍스트 처리 인텐트 -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- 이미지 선택 인텐트 -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        
        <!-- 인인트 처리 인텐트 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
